<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2019 OpenSynergy Indonesia
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). -->

<openerp>
<data>

<menuitem
    id="utility_contract_root_menu"
    name="Contract"
    parent="utility_base.utility_root_menu"
    sequence="2"
    />

<menuitem
    id="utility_contract_configuration_menu"
    name="Contract"
    parent="utility_base.utility_configuration_menu"
    sequence="200"
    />


</data>
</openerp>
